body {
  background-color: cornsilk;
  margin: 0rem;
}

.controls {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: rgb(45, 31, 25);
  padding: 1rem;
  margin: 0rem;
  width: 100vw;
  color: cornsilk;
  position: sticky;
  top: 0px;
}

button {
  border: solid 1px gray;
  background-color: e8e9ed;
  border-radius: 5px;
}

button:active {
  background-color: aqua;
}

#row-one,
#row-two {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

#progress-bar {
  width: 100px;
  height: 25px;
  /* background-color: grey; */
  border: solid 1px rgb(67, 67, 67);
}

#progress {
  background-color: green;
  width: 0%;
  height: 23px;
  padding: 2px 0px 0px 0px;
}
#progress-label {
  padding: 2px 0px 0px 4px;
}

h1,
h2 {
  font-weight: normal;
}

h1:before {
  content: "<h1>";
  font-size: 1rem;
}
h2:before {
  content: "<h2>";
  font-size: 1rem;
}
h3:before {
  content: "<h3>";
  font-size: 1rem;
}
h4:before {
  content: "<h4>";
  font-size: 1rem;
}
h5:before {
  content: "<h5>";
  font-size: 1rem;
}
h6:before {
  content: "<h6>";
  font-size: 1rem;
}

h1.section {
  text-align: center;
  margin-top: 3rem !important;
}

h1.chapter {
  color: green;
}

h2.sutta-title {
  color: purple;
}

.sutta-number {
  font-size: 1rem;
  color: white;
  background-color: black;
}

header ul {
  display: none;
}

.hide-content p,
.hide-content ol {
  display: none;
}
.hide-content span {
  display: inline !important;
}
.hide-content h1,
.hide-content h2,
.hide-content h3,
.hide-content h4,
.hide-content h5,
.hide-content h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
}

.hide-content h2 {
  margin-left: 1rem;
}
.hide-content h3 {
  margin-left: 2rem;
  color: gray;
}
.hide-content h4 {
  margin-left: 3rem;
  color: gray;
}
.hide-content h5 {
  margin-left: 4rem;
  color: gray;
}
.hide-content h6 {
  margin-left: 5rem;
  color: gray;
}

.hide-content h1.chapter {
  margin-top: 1rem !important;
}

/* .hide-content h1::before,
.hide-content h2::before {
  content: "";
} */

span.pli-lang {
  display: block;
  font-weight: bold;
}
span.eng-lang {
  display: block;
}

p.pli-verse {
  margin-bottom: 0.3rem;
  margin-left: 1rem;
}
p.eng-verse {
  margin-bottom: 1rem;
  margin-top: 0rem;
  margin-left: 1rem;
}

span.pli-lang {
  display: block;
  font-weight: bold;
}

.sutta-table {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 975px) {
  td.pali {
    width: 8rem;
    font-size: 0.6rem;
  }

  td.id-class {
    font-size: 0.5rem;
    padding: 0;
    font-family: sans-serif;
  }
}

/* frontmatter */

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.large {
  font-size: 1.3rem;
}

.top-margin {
  margin-top: 1rem;
}
